<div class="container d-flex justify-content-center vh-100 align-items-center">
  <div class="card p-4" style="max-width:480px; width:100%;">
    <h5 class="text-center mb-4"><i class="bi bi-plus-circle"></i> Add USSD App</h5>

    <form [formGroup]="addAppForm" (ngSubmit)="addApp()">
      <div class="mb-3">
        <label for="app_name" class="form-label">App Name</label>
        <input id="app_name" formControlName="appName" type="text" class="form-control">
      </div>

      <div class="mb-3">
        <label for="app_code" class="form-label">App Code</label>
        <input id="app_code" formControlName="appCode" type="text" class="form-control">
      </div>

      <button type="submit" class="btn btn-success w-100">
        <i class="bi bi-plus-circle"></i> Add App
      </button>
    </form>
  </div>
</div>
