.ussd-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.ussd-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ussd-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  margin: 0;
}
