.ussd-container {
  height: calc(100vh - 65px); // adjust for navbar
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 1rem;
}

.ussd-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ussd-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 1rem;
  color: var(--primary);
  text-align: center;
  margin: 0;
}

#start-section button,
.ussd-footer .btn-primary {
  background-color: var(--primary);
  color: white;
  // border-radius: 30px;
  transition: all 0.3s ease;
}

#start-section button:hover,
.ussd-footer .btn-primary:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
}

.ussd-footer .btn-outline-secondary {
  border-radius: 30px;
}

.ussd-footer input.form-control {
  border-radius: 30px;
}
