.container-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  background-color: #f9f9f9;
}

.card {
  border-radius: 20px;
}

.btn-primary {
  border-radius: 30px;
}

.text-primary i {
  margin-right: 6px;
}
